.resume-header, .resume-section-title:after, .resume-timeline:before{
    background-color: rgb(0, 0, 62) !important;
}
.resume-section-title{
    color: rgb(0, 0, 140) !important;
}
.primary-info{
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}
.name{
    text-align: center;
}
